.btn {
  background-color: transparent;
  color: var(--color-white);
  font-family: var(--font-subtitle);
  font-weight: 400;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border: 1px solid var(--color-white);
  box-shadow: var(--boxshadow-black);
  display: inline-block;
  border-radius: 0.2rem;

  &:hover,
  &:active {
    background-color: var(--color-purple-1);
    color: var(--color-gray-1);
    border-color: var(--color-purple-1);
    transition: all 0.4s;
  }
}

.btnSuccess {
  border: none;
  background-color: var(--color-green-1);
  transition: all 0.2s;
  color: var(--color-gray-1);

  &:hover,
  &:active {
    color: var(--color-white);
    background-color: var(--color-green-2);
  }
}

.btnError {
  border-color: var(--color-white);

  color: var(--color-white);
  background-color: var(--color-red-1);
  transition: background-color 0.2s;
  &:hover,
  &:active {
    color: var(--color-white);
    border-color: var(--color-white);
    background-color: var(--color-red-2);
  }
}

.btnFilter {
  background-color: transparent;
  cursor: pointer;

  &__text {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-family: var(--font-subtitle);
    font-weight: 300;
    color: var(--color-white);
    transition: color 0.2s;
    &:hover,
    &:active {
      color: var(--color-purple-1);
    }
  }

  &__icon {
    width: 3.5rem;
    height: 3.5rem;
    fill: var(--color-purple-1);
  }

  &__title {
    font-family: var(--font-subtitle);
    font-weight: 300;
    font-size: 1.8rem;
    color: var(--color-white);
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
  }
}

.btn-disable {
  fill: var(--color-gray-2);

  cursor: not-allowed;
  &:hover,
  &:active {
    fill: currentColor;
  }
}

.btn-small {
  background-color: var(--color-gray-1);
  color: var(--color-white);
  font-family: var(--font-subtitle);
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-white);
  box-shadow: var(--boxshadow-black);
  display: inline-block;
  border-radius: 0.2rem;

  &:hover,
  &:active {
    background-color: var(--color-purple-1);
    color: var(--color-gray-1);
    border-color: var(--color-purple-1);
    transition: all 0.4s;
  }
}


