.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &__title {
    display: contents;
    font-family: var(--font-subtitle);
    font-weight: 300;
    font-size: 2rem;
  }

  &__group {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 1fr min-content;
    column-gap: 1rem;
    row-gap: 1rem;

    &-btn {
      grid-row: 1/-1;
      grid-column: 1/-1;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 2rem;
    }
  }

  &__errors {
    max-width: 60rem;
  }

  &__label {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: block;
    font-family: var(--font-subtext);
  }

  &__input {
    grid-column: 1/2;
    grid-row: 2/3;
    border: none;
    box-shadow: var(--boxshadow-black);
    background-color: var(--color-black-2);
    height: 3.5rem;
    width: 100%;
    color: var(--color-white);
    padding-left: 1rem;
    font-size: 1.6rem;
    font-weight: 100;
  }

  &__errors {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__textError {
    grid-row: 3/-1;
    grid-column: 1/-1;
    width: 100%;
    max-width: 28rem;
    color: var(--color-purple-1);
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    fill: var(--color-white);
    transition: all 0.4s;

    &:hover,
    &:active {
      transform: scale(1.1);
      fill: var(--color-purple-1);
    }
  }

  &__btn {
    &-show {
      grid-row: 2/3;
      grid-column: 2/-1;
      display: flex;
      align-items: center;
      background-color: transparent;
    }
  }
}
