:root {
  // === FONTS ===
  --font-title: 'Montserrat', sans-serif;
  --font-subtitle: 'Quicksand', sans-serif;
  --font-subtext: 'Lato', sans-serif;
  --font-submenu: 'Raleway', sans-serif;
  --font-text: 'Karla', sans-serif;

  // === COLORS ===
  --background-color-primary-1: #5e5368;
  --background-color-secondary-1: #53435f;

  --color-icon-1: #f5f7fa;
  --color-icon-2: #b8c6db;

  --color-white: #ffff;
  --color-black: #000000;
  --color-black-1: #141217;
  --color-black-2: #00000032;
  --color-black-3: #00000070;
  --color-black-4: rgba(14, 14, 14, 0.867);
  --color-gray-1: #282828;
  --color-gray-2: rgb(82, 81, 81);
  --color-purple-1: #d19ff8;
  --color-purple-2: #af72ff;

  --color-green-1: #7ed56f;
  --color-green-2: #66c555;

  --color-red-1: #ff3366;
  --color-red-2: #dd0a3f;

  --boxshadow-black: 5px 5px 5px 0px rgba(0, 0, 0, 0.12);
}
