:root {
  // === FONTS ===
  --font-title: 'Montserrat', sans-serif;
  --font-subtitle: 'Quicksand', sans-serif;
  --font-subtext: 'Lato', sans-serif;
  --font-submenu: 'Raleway', sans-serif;
  --font-text: 'Karla', sans-serif;

  // === COLORS ===
  --background-color-primary-1: #5e5368;
  --background-color-secondary-1: #53435f;

  --color-icon-1: #f5f7fa;
  --color-icon-2: #b8c6db;

  --color-white: #ffff;
  --color-black: #0000;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-text);
  font-size: 1.6rem;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

input {
  outline: none;
}
